{% extends 'index.html' %}

{% block content %}
<section class="about_section layout_padding-bottom">
    <div class="container  ">
      <div class="row">
        <div class="col-md-6">
          <div class="detail-box">
            <div class="heading_container">
              <h2 style="color:white; margin-top: 200px;">
                About Us
              </h2>
            </div> 
            <P style="color:white;">
            The "Player Behavior Prediction for In-Game Purchase Using Machine Learning" project aims to develop a
             predictive model that can accurately forecast player behavior in relation to in-game purchases. 
             By analyzing player data, such as gameplay patterns, engagement levels, demographics, and historical purchase data, 
            the model seeks to identify key factors that influence a player's likelihood to make in-game purchases.</P>
          </div>
        </div>
        <div class="col-md-6 ">
          <div class="img-box">
            <img src="/static/images/slider-img.png" alt="" style="margin-top: 50px ;">
          </div>
        </div>

      </div>
    </div>
  </section>
{% endblock %}